<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<h3 align="right" style="margin: -10px;"><a href='/upload'>Upload photo</a></h3>

<h1>Photos</h1>

<p>Express stock photo application.</p>

<div id="photos">
    <% photos.forEach(function(photo) { %>
    <div class="photo">
        <h2><%= photo.name %></h2>
        <a href='/photo/<%= photo._id %>/download'>
            <img src='/photo/<%= photo._id %>/download'/>
        </a>
    </div>
    <% }) %>
</div>
</body>
</html>
